/* Navbar */

.Navbar {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 70px;

  background: rgba(255, 255, 255, 0.95);

  border-bottom: 2px solid rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(10px);

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Left Section */

.left-section {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Logo Image */

.left-section img {
  width: 52px;
  height: 52px;

  object-fit: contain;

  border-radius: 10px;

  display: block;
}

/* Logo Text */

.logo-text {
  display: flex;
  align-items: center;

  font-size: 2.9rem;
  font-weight: 700;

  font-family: "Archivo Black", sans-serif;

  color: #ff6a00;

  line-height: 1;

  letter-spacing: -1px;

  cursor: pointer;

  position: relative;
  top: 4px;
}

.lego-text-decent {
  color: #38bdf8;
}

/* Right Section */

.right-section {
  display: flex;
  align-items: center;
}

/* Login Button */

.loginButton {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 22px;

  border: none;
  border-radius: 22px;

  background: linear-gradient(
    135deg,
    #2563eb,
    #38bdf8
  );

  color: white;

  font-size: 1.3rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.loginButton svg {
  width: 22px;
  height: 22px;
}

.loginButton:hover {
  background: black;

  color: white;

  box-shadow: 0 8px 25px rgba(56, 189, 248, 0.25);

  transform: translateY(-2px);
}

.profile-menu {

  position: relative;

  cursor: pointer;
}

.profile-avatar {

  width: 68px;
  height: 68px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.9rem;
  padding: 20px;
  font-weight: 700;

  color: white;

  background:
    linear-gradient(
      135deg,
      #2563eb,
      #38bdf8
    );

  box-shadow:
    0 8px 20px rgba(37,99,235,.25);

  transition: .3s;
}

.profile-avatar:hover {

  transform: scale(1.05);
}

.profile-dropdown {

  position: absolute;

  top: 70px;
  right: 0;

  min-width: 180px;

  background: white;

  border-radius: 14px;

  overflow: hidden;

  box-shadow:
    0 12px 30px rgba(0,0,0,.12);

  z-index: 100;
}

.profile-dropdown button {

  width: 100%;

  border: none;
  background: white;

  padding: 14px 18px;

  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  font-size: 1.55rem;

  transition: .2s;
}

.profile-dropdown button:hover {

  background: #f8fafc;
}

/* Responsive */

@media (max-width: 768px) {

  .Navbar {
    padding: 0 24px;
    height: 78px;
  }

  .left-section {
    gap: 10px;
  }

  .left-section img {
    width: 42px;
    height: 42px;
  }

  .logo-text {
    font-size: 1.9rem;
  }

  .loginButton {
    padding: 10px 16px;

    font-size: 0.9rem;
  }

  .loginButton svg {
    width: 18px;
    height: 18px;
  }

}